extends layout

block content
  .timeline
    h2 경매 진행 목록
    table#good-list
      tr
        th 상품명
        th 이미지
        th 시작 가격
        th 종료 시간
        th 입장
      for good in goods
        tr
          td= good.name
          td: img(src='/img/' + good.img)
          td= good.price
          td.time(data-start=good.createdAt) 00:00:00
          td: a.enter.btn(href='/good/' + good.id) 입장
  script(src='https://cdnjs.cloudflare.com/ajax/libs/event-source-polyfill/0.0.9/eventsource.min.js')
  script.
    // 첫번째 스크립트(라인 20)가 EventSource polyfill이다. 이것을 넣어주면 IE나 엣지 브라우저에서도 서버센트 이벤트를 사용할 수 있다.
    // 두번째 스크립트는(라인 25) EventSource를 사용해서 서버센트 이벤트를 받는 코드이다.
    // 서버로부터 받은 데이터는 e.data에 들어있다.
    var es = new EventSource('/sse');
    es.onmessage = function (e) {
     document.querySelectorAll('.time').forEach(function(td) {
        var end = new Date(td.dataset.start);
        var server = new Date(parseInt(e.data, 10));
        end.setDate(end.getDate() + 1);
        if (server >= end) {
          return td.textContent = '00:00:00';
        } else {
          var t = end - server;
          var seconds = ('0' + Math.floor((t / 1000) % 60)).slice(-2);
          var minutes = ('0' + Math.floor((t / 1000 / 60) % 60)).slice(-2);
          var hours = ('0' + Math.floor((t / (1000 * 60 * 60)) % 24)).slice(-2);
          return td.textContent = hours + ':' + minutes + ':' + seconds ;
        }
      });
    };
